node_modules
/contrib/examples/.*
/doc
/build/out/*
/run/bin/.*
/run/config/.*
/run/lib/.*
/run/plugins/.*
/run/pylib
/run/startup/*.skip
/run/plugins/.*
/share
/TODO*
sample-compose.yml
.env
spawn.conf