## Sample configuration for spawning multiple nodes.
start master --wipe --miner
start alice  --wipe --faucet master --channels carol --ports 9737
start bob    --wipe --faucet master --channels alice
start carol  --wipe --faucet master --channels bob
## EOF